{% extends "base.html" %}
{% block title %}Add Rule{% endblock %}
{% block content %}
{% include "navbar.html" %}
    <h1 class="h4 mb-4 fw-bold">Add Firewall Rule</h1>
    <div class="container mt-3">
        <form action="/" method="post">
            <div class="mb-2">
                <label for="action" class="form-label">Action</label>
                <select class="form-select" id="action" name="action" aria-label="Default select example">
                    <option value="pass">Pass</option>
                    <option value="block">Block</option>
                    <option value="reject">Reject</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="tcpip" class="form-label">TCP/IP</label>
                <select class="form-select" id="tcpip" name="tcpip" aria-label="Default select example">
                    <option value="ipv4">IPv4</option>
                    <option value="ipv6">IPv6</option>
                    <option value="ipv4/v6">IPv4/v6</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="action" class="form-label">Action</label>
                <select class="form-select" id="action" name="action" aria-label="Default select example">
                    <option value="pass">Pass</option>
                    <option value="block">Block</option>
                    <option value="reject">Reject</option>
                </select>
            </div>
        </form>
</div>
</div>

{% endblock %}
